In this exercise, we are going to predict the human activity using the outputs from chest monitor machine. x_acceleration, y_acceleration and z_acceleration are the output from chest monitor device and the outputs are based on the activity. Activity 1 - represent the person to be in rest, Activity 2 - represent the person to be walking and Activity 3 - represent the person to be running

In [1]:
import pandas as pd 

data = pd.read_excel("C:/Users/Bharath/Desktop/ML/L00144389/Data/activity_monitoring.xlsx")
data.head()

   x_acceleration  y_acceleration  z_acceleration  activity
1            1667            2072            2047         1
2            1611            1957            1906         1
3            1601            1939            1831         1
4            1643            1965            1879         1
5            1604            1959            1921         1

We shall import the 'train_test_split' function from sklearn.model_selection. We'll assign the independent data as A and dependent data as B. Using the test_size function, we are splitting 30% of the data as test data.

In [19]:
from sklearn.model_selection import train_test_split

A = data[['x_acceleration','y_acceleration','z_acceleration']]
B = data['activity']
A_train,A_test,B_train,B_test=train_test_split(A,B,random_state=0,test_size = 0.3)

Let's see the training data sets

In [20]:
A_train.describe()

       x_acceleration  y_acceleration  z_acceleration
count       62.000000       62.000000       62.000000
mean      1806.370968     2266.919355     2025.483871
std        150.817796      202.127398       58.909695
min       1508.000000     1697.000000     1866.000000
25%       1637.750000     2076.750000     1995.500000
50%       1875.500000     2360.500000     2041.500000
75%       1916.500000     2389.500000     2051.750000
max       1989.000000     2536.000000     2162.000000

Let's see the testing data sets

In [21]:
A_test.describe()

       x_acceleration  y_acceleration  z_acceleration
count       27.000000       27.000000       27.000000
mean      1802.296296     2254.222222     2015.592593
std        169.571137      184.424121       66.202056
min       1529.000000     1910.000000     1831.000000
25%       1610.000000     2075.500000     1993.500000
50%       1888.000000     2328.000000     2039.000000
75%       1930.000000     2386.000000     2050.500000
max       1989.000000     2522.000000     2116.000000

We will now import the KNeighborsClassifier from sklearn.neighbors and fit the training data sets

In [25]:
from sklearn.neighbors import KNeighborsClassifier

KNC=KNeighborsClassifier()
KNC.fit(A_train,B_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

We will check for score accuracy

In [26]:
KNC.score(A_test,B_test)

0.96296296296296291

Now let's check the prediction

In [27]:
KNC.predict([['1667','2072','2047']])

array([1], dtype=int64)

Thus from the above result, it is seen that the prediction is made perfectly and KNN fits this data set.