In this exercise, we will be checking the r2 value for different k folds. We shall use linear regression to predict the heating load with the given features. 
X1 - Relative Compactness 
X2 - Surface Area 
X3 - Wall Area 
X4 - Roof Area 
X5 - Overall Height 
X6 - Orientation 
X7 - Glazing Area 
X8 - Glazing Area Distribution 
y1 - Heating Load

In [42]:
import pandas as pd

load_data = pd.read_excel("C:/Users/Bharath/Desktop/ML/L00144389/Data/ENB2012_data.xlsx")
load_data.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84

Now we shall assign X1, X2, X3, X4, X5, X6, X7 and X8 as the training data sets and Y1 as the data to be predicted.

In [43]:
train = load_data[['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8']]
predict = load_data[['Y1']]

Linear Regression Library is imported from sklearn.linear_model

In [44]:
from sklearn.linear_model import LinearRegression

LR = LinearRegression()
LR.fit(train, predict)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

Now 'cross validation' function is imported from sklearn to predict the r2 value with different k values

In [45]:
from sklearn import cross_validation

r2_1 = cross_validation.cross_val_score(LR, train, predict.values.ravel(), cv=10, scoring='r2')

print(r2_1)
print(r2_1.mean())

[ -0.16936539   0.19127596   0.87515186  -0.2824047    0.92239816
   0.11515458   0.915921   -32.48587481   0.86942947  -0.42349088]
-2.9471804747

In [46]:
r2_2 = cross_validation.cross_val_score(LR, train, predict.values.ravel(), cv=20, scoring='r2')

print(r2_2)
print(r2_2.mean())

[  2.10911488e-02  -2.07247311e+00   4.64107738e-02  -3.02686034e+00
  -2.07207160e+02  -1.80052946e+01   2.97954015e-01  -1.72958567e+00
  -3.57661186e-01  -1.06229942e+00  -3.99400632e+01  -2.56300098e+01
   9.97615371e-01  -1.82719879e+01  -8.31968002e+01  -7.40944402e-01
  -1.15133378e+00   9.33133119e-01  -4.83687634e-01  -8.69137647e+00]
-20.4635666818

In [47]:
r2_3 = cross_validation.cross_val_score(LR, train, predict.values.ravel(), cv=40, scoring='r2')

print(r2_3)
print(r2_3.mean())

[ -2.87610689e+30   7.24931056e-01  -1.15326768e+00  -4.11067661e+00
  -8.93719788e+02   5.33974910e-02  -5.61134822e+00  -1.01992834e+02
  -7.13369841e+03  -7.41118563e+01  -1.46769713e+01  -1.48819258e+03
  -7.15395284e+02  -7.44998654e-01  -3.64802760e+00  -3.22560262e+02
  -2.36665050e+03  -4.28121172e-01  -1.85636222e+00   1.19504777e-01
  -5.23016753e+02  -8.27624487e-02  -1.35619172e+01  -2.52247431e+00
  -9.07902685e+00  -2.66285551e+01  -4.16355834e+01  -2.53943879e+03
  -7.60447261e+04   3.32076442e-01  -1.34106425e+02  -1.32406722e+00
  -1.29737074e+04   9.41575995e-01   5.75864332e-01   6.22714536e-01
  -4.04973675e+01  -1.70321710e-01  -1.27546089e+00  -3.01306109e+01]
-7.19026722995e+28

Thus we were able to see that the r2 values gets changed with different k values