In this exercise we will predict the purchase based on the Day, Discount and Free Delivery purchase features

In [116]:
import pandas as pd

First we shall import the training data sets

In [117]:
training_data = pd.read_excel("C:/Users/Bharath/Desktop/ML/L00144389/Data/Naive_Bayes_Dataset.xlsx")
training_data.head()

       Day Discount Free Delivery Purchase
0  Weekday      Yes           Yes      Yes
1  Weekday      Yes           Yes      Yes
2  Weekday       No            No       No
3  Holiday      Yes           Yes      Yes
4  Weekend      Yes           Yes      Yes

The data needs to be changed to numerical for naive bayes to work. We shall assign Holiday as 0, Weekday as 1 and Weekend as 2 in Day Column. In Discount and Free Delivery columns, we'll assign Yes as 1 and No as 0.

In [118]:
d = {'Holiday': 0,'Weekday': 1, 'Weekend': 2}
training_data['Day'] = training_data['Day'].map(d)
d = {'Yes': 1, 'No': 0}
training_data['Discount'] = training_data['Discount'].map(d)
d = {'Yes': 1, 'No': 0}
training_data['Free Delivery'] = training_data['Free Delivery'].map(d)

training_data.head()

   Day  Discount  Free Delivery Purchase
0    1         1              1      Yes
1    1         1              1      Yes
2    1         0              0       No
3    0         1              1      Yes
4    2         1              1      Yes

Now let's import the testing datasets and assign it as predicting purchase

In [119]:
predicting_purchase = pd.read_csv('C:/Users/Bharath/Desktop/ML/L00144389/Data/test1.csv')
predicting_purchase.head()

       Day Discount Free Delivery
0  Weekend       No            No
1  Weekend       No           Yes
2  Weekday      Yes           Yes
3  Weekend      Yes           Yes
4  Holiday       No           Yes

Similarly we'll change the datasets to numerical

In [120]:
d = {'Holiday': 0,'Weekday': 1, 'Weekend': 2}
predicting_purchase['Day'] = predicting_purchase['Day'].map(d)
d = {'Yes': 1, 'No': 0}
predicting_purchase['Discount'] = predicting_purchase['Discount'].map(d)
d = {'Yes': 1, 'No': 0}
predicting_purchase['Free Delivery'] = predicting_purchase['Free Delivery'].map(d)
predicting_purchase.head()

   Day  Discount  Free Delivery
0    2         0              0
1    2         0              1
2    1         1              1
3    2         1              1
4    0         0              1

Let's assign the day, discount and free delivey columns as data_to_be_trained and purchase column as data_to_be_predicted

In [121]:
data_to_be_trained = training_data[["Day","Discount","Free Delivery"]]
data_to_be_predicted = training_data[["Purchase"]]

# Gaussian Naive Bayes

Let us import the Gaussian Naive Bayes model from sklearn.naive_bayes

In [128]:
from sklearn.naive_bayes import GaussianNB

g = GaussianNB()
g.fit(data_to_be_trained, data_to_be_predicted.values.ravel())

GaussianNB(priors=None)

Now we shall predict the predicting purchase using guassian model

In [129]:
gaussian_prediction = g.predict(predicting_purchase)
gaussian_prediction

array(['No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes',
       'Yes', 'Yes'],
      dtype='<U3')

Now we'll add the predicted purchase column in the test data sets

In [130]:
gaussian_prediction_data = predicting_purchase.copy()
gaussian_prediction_data['Purchase_Prediction'] = gaussian_prediction
gaussian_prediction_data.head()

   Day  Discount  Free Delivery Purchase_Prediction
0    2         0              0                  No
1    2         0              1                 Yes
2    1         1              1                 Yes
3    2         1              1                 Yes
4    0         0              1                 Yes

# Multinomial Naive Bayes

Let's try with Multinomial Naive Bayes with the same data sets.

Import MultinomialNB model from sklearn.naive_bayes

In [131]:
from sklearn.naive_bayes import MultinomialNB

mnb_data_to_be_trained = training_data[["Day","Discount","Free Delivery"]]
m = MultinomialNB()
m.fit(mnb_data_to_be_trained, data_to_be_predicted.values.ravel())
m_prediction_data = predicting_purchase.copy()
m_prediction_data.head()

   Day  Discount  Free Delivery
0    2         0              0
1    2         0              1
2    1         1              1
3    2         1              1
4    0         0              1

In [132]:
multinomial_prediction = m.predict(m_prediction_data)
multinomial_prediction

array(['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes'],
      dtype='<U3')

In [133]:
multinomial_prediction_data = m_prediction_data.copy()
multinomial_prediction_data['Predicted_Purchase'] = multinomial_prediction
multinomial_prediction_data.head()

   Day  Discount  Free Delivery Predicted_Purchase
0    2         0              0                Yes
1    2         0              1                Yes
2    1         1              1                Yes
3    2         1              1                Yes
4    0         0              1                Yes

By comparing the results from Gaussian and Multinomial naive bayes, the prediction from Gaussian naive bayes seems to more accurate than Multinomial naive bayes. Thus Gaussian naive bayes model fits this data sets